.close {
  font-size: 13px;
  border: 0;
  text-decoration: none;
}

.close:before {
  display: inline-flex;
  padding-right: 5px;
  content: "\00d7";
  font-size: 17px;
}

.close:hover,
.close:hover:before {
  border: 0;
  text-decoration: none;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}
