{{ attach_library('clear_field/clear_field') }}
{% if fa_icon %}
  <span class="clear-field {{ span_class }}"><a class="fa_close {{ a_class }}" href="#" title="{{ tooltip_text }}"><i class="fas fa-times-circle"></i> {{ text_value }}</a></span>
{% else %}
  <span class="clear-field {{ span_class }}"><a class="close {{ a_class }}" href="#" title="{{ tooltip_text }}">{{ text_value }}</a></span>
{% endif %}
